// TO BE MOVED
.tab-content-holder > table {
    border-spacing: 10px;
    border-collapse: separate;
}

.row-devider > td, .row-devider > th {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

//****** SHELL *******
.glimpse-main {
    min-width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #323d42;
}

.glimpse-header {
    color: #fff;
    height: 40px;
    padding: 2px 20px 0;
    z-index: 1;
    text-align: right;
}

.glimpse-logo img {
    height: 40px
}


//****** APPLICATION LAYOUTS *******
.application-holder {
    flex: 1 1 auto;
    padding: 10px 20px 0;
    display: flex;
    justify-content: center;
}

.application-section-group {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
}
.application-section-header {
    font-size: 115%;
    margin: 10px 15px;
    
    &.application-section-header-boxed {
        margin: 5px 15px 10px 20px; // taking into account the box shadow
    }
}
.application-section-message {
    font-style: italic;
    margin: 10px 15px;
}
.button-holder {
    margin: 10px 15px;
    text-align: right;
}

//***** LIST FILTERS *****
.filter-bar {
    margin-bottom: 2px;
    margin-top: 2px;
}

.filter-show-all {
    background: transparent;
    border: none;
    border-right: 1px solid #ccc;
    color: #26688e;
    padding-left: 0;
}

.filter-show-all:hover {
    @extend .filter-show-all;
    
    text-decoration: underline; 
}

.filter-show-all:active {
    @extend .filter-show-all;
    
    color: #f08221;
}

.filter-button {
    background-color: transparent;
    margin-left: 5px;
}

.filter-button-shown {
    @extend .filter-button;

    background-color: #e4f4ff;   
    border: 1px solid #a0daff;
}

.filter-button-not-shown {
    @extend .filter-button;
    
    border: 1px solid #e3e3e3;
}

.filter-button-not-shown:hover {
    @extend .filter-button;
    
    border: 1px solid #26688e;
}

    //***** SECTION LAYOUTS *******
    .application-section {
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }
    
    .request-user-section, .request-filter-section {
        color: white;
        flex: 2 1 130px;
        min-width: 130px;
        max-width: 225px;
    }
    .request-user-section {
        background-color: #49515D;
        border-radius: 3px 0 0 0;
        
        .text-primary {
            color: white;
        }
        .text-minor {
            color: #aaa;
        }
    }
    .request-summary-section {
        flex: 5 1 600px;
        min-width: 400px;
        box-shadow: 5px 5px 0 0px #B1B4B9 inset;
        
        .request-holder-content {
            margin: 5px 0 0 5px;
        }
        .application-section-message {
            margin-left: 18px;
        }
    }
    .request-filter-section {
        border-radius: 0 3px 0 0;
        background-color: #B1B4B9;
    }
    .request-detail-section {
        box-shadow: inset 0px 5px 0px 0px #71B2D1, inset -5px 0px 0px 0px #71B2D1, inset 5px 0px 0px 0px #71B2D1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 73vw;
        margin-right: 0;
        border-radius: 3px 3px 0 0;
        
        .request-holder-content {
            margin: 5px 5px 0 5px;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        > div {
            min-width: 65vw;
        }
        
        .text-minor {
            color: #737373;
        }
    }
    
    .request-detail-section-enter {
        max-width: 0;
        min-width: 0;
    }
    .request-detail-section-enter.request-detail-section-enter-active {
        max-width: 70vw;
        min-width: 65vm;
        transition: max-width 200ms ease-in;
    }
    .request-detail-section-leave {
        max-width: 70vw;
        min-width: 65vm;
    }
    .request-detail-section-leave.request-detail-section-leave-active {
        max-width: 0;
        min-width: 0;
        transition: max-width 100ms ease-in;
    }
    
    .request-holder-content {
        flex: 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
    

    //***** USER SECTION *******
    .request-user-group-item-selected {
        background-color: #B1B4B9;
        
        .text-minor {
            color: #323D42
        }
    }
    .user-status img {
        border-left: 5px solid #eee;
    }
    .user-status img.user-status-online {
        border-left-color: green;
    }
    .user-status-img {
        min-width: 55px;
        
        > img {
            transition: width 0.1s ease-in;
        }
    }
    .user-status-time {
        font-size: 80%;
        text-align: right;
        padding-right: 10px;
    }
    .user-status-request-group > div {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .request-user-group-item {
        padding: 8px 15px 5px;
    }
    
    //******** FILTER SECTION **********
    .field-section {
        padding: 0 15px; 
        
        input[type="text"] {
            border: 1px solid #3D464F;
            outline: none;
            width: 98%;
        }
    }
    
    //******** TANSITIONS & HIGHLIGHTS **********    
        // starting point
        .request-summary-group-item-enter {
            background-color: #F8F5EC;
        }
        .request-summary-group-item-enter:nth-child(even) {
            background-color: #E4DFD2;
        }
        .request-user-group-item-enter {
            background-color: #454C56;
        }
        // finishing point
        .request-summary-group-item-enter.request-summary-group-item-enter-active,
        .request-user-group-item-enter.request-user-group-item-enter-active {
            transition: background-color 1s ease-in;
            background-color: transparent;
        }
        .request-summary-group-item-enter:nth-child(even).request-summary-group-item-enter-active {
            background-color: #E5E9EA;
        }
    
        // starting point
        .request-summary-group-item-leave, .request-user-group-item-leave {
            opacity: 1;
        }
        // finishing point
        .request-summary-group-item-leave.request-summary-group-item-leave-active,
        .request-user-group-item-leave.request-user-group-item-leave-active {
            opacity: 0.01;
            transition: opacity 0.05s ease-in;
        }
    


//******* DETAIL LAYOUT ********
.request-summary-group-item {
    padding: 15px 20px;
    
    &:first-child {
        padding-top: 8px;
    }
    .text-minor {
        color: #737373;
    }
    .text-accent {
        font-size: 80%;
    }
    .text-accent-small {
        font-size: 70%;
    }
    .text-focus {
        font-size: 120%;
    }
    .list-item {
        margin: 0;
    }
}
.request-summary-group-item:nth-child(even) {
    background-color: #E5E9EA;
}
.request-summary-group-item-focus {
    background-color: #71B2D1 !important; // :(
    color: #fff;
    
    .text-minor {
        color: #3D6B82;
    }
}
.request-summary-title-section {
    font-size: 80%;
    margin-bottom: 5px;
}
.request-summary-title-detail > span {
    padding-left: 15px;
}
.request-summary-title-detail > span:first-child {
    padding-left: 25px;
}
.request-summary-metadata {
    font-size: 90%;
    color: #737373;
    text-align: right;
    margin-right: 1%;
}
.request-summary-facets {
    white-space: nowrap;
}
.request-detail-group-item {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    
    .tab-content-holder {
        overflow-y: auto;
        flex: 1;
        display: flex;
    }
        
    .tab-content {
        flex: 1;
    }
}

.request-title {
    font-size: 140%;
    font-weight: normal;
}

.request-title-count {
    font-size: 140%;
    font-weight: normal;
    color: #616A6B; // grey
}

.request-table-header {
    font-weight: bold;
    font-size: 100%;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-color: #AAB7B8;
    border-bottom-width: 2px;
}

.tab-logs-message-count {
    font-family: 'Segoe UI', 'Selawik Semibold', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 175%;
}

.tab-logs-data-default {
    font-weight: normal;
    color: #333333; // grey
}

.tab-logs-data-warning {
    font-weight: normal;
    color: #D35400; // orange
}

.tab-logs-data-error {
    font-weight: normal;
    color: #FF0000; // red
}


//****** BUTTONS *********
.button-holder {
    text-align: right;
    padding-top: 15px;
}
.button-holder .button {
    display: inline-block;
}
.button {
    margin-left: 10px;
    cursor: pointer;
    border: 0;
}
.button.button--default {
    padding: 5px 10px;
    transition: box-shadow 200ms;
}
.button.button--primary {
    color: #fff;
    fill: #fff;
    background: #3D464F;
}
.button.button--primary:focus, .button.button--primary:hover {
    background: #49515D;
    box-shadow: 0 0 0 3px #454C56;
}
.button.button--dull {
    color: #fff;
    fill: #fff;
    background: #41768E;
}
.button.button--dull:focus, .button.button--dull:hover {
    background: #A6CADB;
    box-shadow: 0 0 0 3px #B0D6E8;
}
.button.button--link {
    text-decoration: underline;
    transition: color 200ms;
}
.button.button--link:focus, .button.button--link:hover {
    color: #A6CADB;
}
.button.button--close {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 125%;
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    right: 5px;
}

//******* Forms *******
.field-section {
    margin-bottom: 15px;
}


//******* TABS *******
.nav-bar {
    border-bottom: 1px solid #E1E2E4;
    margin-bottom: 10px;
    
    &.nav-bar-center {
        text-align: center;
    }
}
.nav {
  margin-bottom: 0;
  padding-left: 0; 
  list-style: none;

    > li {
        position: relative;
        display: block;
        
        > a {
            position: relative;
            display: block;
        }
    }
}
.nav.nav-tabs {
    > li {
        display: inline-block;
        padding: 0 10px;
        
        > a {
            position: relative;
            display: block;
            text-decoration: none;
            color: #aaa;
            transition: box-shadow 200ms, color 200ms;
            padding-bottom: 8px;
            
            &:hover,
            &:focus,
            &.selected {
                box-shadow: inset 0 -3px #FF484E;
                color: #111;
            }
        }
    }
}

//******** LISTS *********
.list-item {
    margin-top: 15px;
}
.paramater-list {
    padding-left: 0;
    display: inline;
    font-family: monospace;
    font-size: 120%;
}

.paramater-list > li {
    display: inline;
}

.paramater-list > li:before {
    content:', '; /* Non-breaking space */
}
.paramater-list > li:first-child:before {
    content: normal;
}


//******** TAB LAYOUT *********
.tab-title { 
    color: #737373;
}
.tab-section {
    padding: 10px 0;
    margin: 0 20px;
}
.tab-section-boxing {
    border-left: 3px solid #bbb;
    padding-left: 10px;
}

.tab-section-title {
    font-size: 125%;
    margin-bottom: 8px;
}
.tab-section-header {
    .tab-title {
        font-size: 70%;
    }
}
.tab-section-boxed {
    .tab-section-header {
        padding-left: 13px;
    }
}
.tab-section-item {
    width: 100%;
    
    .tab-section-details {
        font-size: 85%;
        margin-top: 8px;
    }
    .tab-section-details-item {
        overflow: hidden;
    }
    .tab-section-details-key {
        font-style: italic;
        min-width: 0;
    }
    .tab-section-details-value {
        min-width: 0;
    }
    
    .tab-execution-important {
        font-size: 120%;
    }
    .tab-execution-timing {
        font-weight: bold; 
        text-align: right;
        padding-right: 10px;
        white-space: nowrap;
    }
    .tab-execution-timing-arrow {
        transform: rotate(180deg);
        display: inline-block;
        padding-right: 5px;
        color: #737373;
    }
    
    .tab-section-execution-command-item {
        padding-bottom: 15px;
    }
    .tab-section-execution-command-item-detail {
        display: flex;
    }
    .tab-section-execution-command-accent {
        font-style: italic;
        padding-left: 5px; 
        font-size: 90%;
    }
    .tab-section-execution-command-open {
        color: #737373;
        font-size: 70%;
        cursor: pointer;
        margin-left: 5px;
        padding: 0 5px;
    }
    .tab-section-execution-command-text {
        margin-right: 10%;
        font-family: monospace; 
        padding-top: 5px;
        font-size: 85%;
        
        > pre {
            margin: 0;
            
            > code {
                padding: 0;
            }
        } 
        
        &.pre-open {
            > pre {
                background-color: #F5F5F5;
                border: 1px solid #ccc;
                border-radius: 3px;
                margin: -6px 0 0 -6px;
                padding: 5px;
                
                > code {
                    background-color: transparent;
                }
            }
        }
    }
    .tab-section-execution-command-items {
        width: 100px;
    }
}
.tab-section-execution-action > .tab-section-boxing, .tab-section-execution-component > .tab-section-boxing {
    border-left-color: #559fdf;
}
.tab-section-execution-view > .tab-section-boxing {
    border-left-color: #6161e0;
}
.tab-section-execution-command > .tab-section-boxing {
    border-left-color: #e2875e;
}
.tab-section-listing {
    > *:nth-child(even) {
        background-color: #E5E9EA;
    }
    > * {
        margin: 3px -3px;
        padding: 3px;
    }
}

.tab-execution-hidden-gradient {
    display: none;
}
.tab-execution-hidden {
    position:relative;
    overflow:hidden;
    height: 30px;
    cursor: pointer;
    
    .tab-execution-hidden-gradient {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 15px;
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }
}

@media only screen and (max-width: 1100px) {
    .glimpse-main {
        min-width: 600px;
    }
    
    .request-summary-section {
        border-radius: 0 3px 0 0;
    }
    .request-filter-section {
        display: none;
    }
    .request-detail-section {
        width: 67vw;
    }
}
@media only screen and (max-width: 920px) {
    .user-status-time {
        display: none;
    }
    .user-status-img {
        min-width: 25px; 
        
        > img {
            width: 20px;
        }
    }
}
@media only screen and (max-width: 760px) {
    .request-detail-section {
        width: 83vw;
    }
    .request-user-section {
        display: none;
    }
}