
.user-shell-selected, .request-summary-item-selected {
    background-color: #f0f7fd;
}

.request-summary-item-holder-enter, .request-user-item-holder-enter {
    background-color: #F8F5EC;
    transition: background-color 0.2s ease-in;
}

.request-summary-item-holder-enter.request-summary-item-holder-enter-active,
.request-user-item-holder-enter.request-user-item-holder-enter-active {
    background-color: transparent;
}


.request-summary-item-holder-leave, .request-user-item-holder-leave {
    opacity: 1;
    transition: opacity 0.05s ease-in;
}

.request-summary-item-holder-leave.request-summary-item-holder-leave-active,
.request-user-item-holder-leave.request-user-item-holder-leave-active {
    opacity: 0.01;
}

.tab-pane > table {
    border-spacing: 10px;
    border-collapse: separate;
}

.row-devider > td, .row-devider > th {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.tab-execution-item {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    
    > div {
        flex: 1 0 0;
    }
    
    .tab-execution-important {
        font-size: 120%;
    }
    .tab-execution-title {
        font-weight: bold;
        min-width: 100px;
        flex-grow: 1;
    }
    .tab-execution-route-name {
        flex-grow: 2;
        min-width: 150px;
    }
    .tab-execution-route-path, .tab-execution-route-pattern {
        flex-grow: 3;
    }
    .tab-execution-action-description {
        flex-grow: 7;
    }
    .tab-execution-timing {
        font-weight: bold;
        min-width: 100px;
        flex-grow: 1;
    }
    .tab-execution-view-path {
        flex-grow: 7;
    }
    .tab-execution-view-found {
        color: green;
    }
    .tab-execution-view-notfound {
        color: darkred;
    }
}


.paramater-list {
    padding-left: 0;
    display: inline;
}

.paramater-list > li {
    display: inline;
}

.paramater-list > li:before {
    content:',\0000a0'; /* Non-breaking space */
}
.paramater-list > li:first-child:before {
    content: normal;
}
















//****** GENERAL *******
body, html {
    margin: 0;
    height: 100%;
    color: #111;
}

//****** SHELL *******
.glimpse-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Tahoma, "Helvetica Neue",Arial,sans-serif;
}

.glimpse-header {
    background-color: #323d42;
    color: #fff;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    padding: 2px 15px;
    z-index: 1;
    text-align: right;
}

.glimpse-logo img {
    height: 40px
}

//****** APPLICATION LAYOUTS *******
.application-holder {
    background-color: #eee;
    flex: 1 1 auto;
    padding-top: 10px;
    //min-width: 920px; // TODO: once its made more responsive, we can fix tis up a bit more
    min-width: 1040px;
    display: flex;
    justify-content: center;
}

.application-item-holder {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    position: relative;
}
.application-item-header {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 165%;
    margin-bottom: 11px;
}

    //***** SECTION LAYOUTS *******
    .request-user-holder, .request-summary-holder, .request-filter-holder, .request-detail-holder {
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        border-radius: 3px 3px 0 0;
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }
    
    .request-user-holder {
        flex: 1 1 175px;
        min-width: 150px;
        max-width: 200px;
    }
    
    .request-summary-holder {
        flex: 5 1 600px;
        min-width: 400px;
        max-width: 900px;
    }
        
    .request-filter-holder {
        flex: 2 1 225px;
        min-width: 200px;
        max-width: 250px;
    }
    
    .request-detail-holder {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 70vw;
        min-width: 65vm;
        margin-right: 0;
        border-radius: 3px 0 0 0;
        box-shadow: 0 2px 11px rgba(0, 0, 0, 0.4);
        
        > div {
            min-width: 65vw;
        }
    }
    
    .request-detail-holder-enter {
        max-width: 0;
        min-width: 0;
    }
    .request-detail-holder-enter.request-detail-holder-enter-active {
        max-width: 70vw;
        min-width: 65vm;
        transition: max-width 200ms ease-in;
    }
    .request-detail-holder-leave {
        max-width: 70vw;
        min-width: 65vm;
    }
    .request-detail-holder-leave.request-detail-holder-leave-active {
        max-width: 0;
        min-width: 0;
        transition: max-width 100ms ease-in;
    }
    
    .request-holder-content {
        flex: 1 1 auto;
        height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px 15px;
    }
    
    .request-summary-item-holder {
        border-top: 1px solid #E1E2E4;
        padding: 15px 10px;
        
        .list-item {
            margin: 0;
        }
        
        &:first-child {
            border-top-color: transparent;
        }
    }
    .request-summary-item-selected {
        border-radius: 3px;
        border-top-color: transparent;
        
        + .request-summary-item-holder {
            border-top-color: transparent;
        }
    }

    //***** USER SECTION *******
    .user-status img {
        border-left: 5px solid #eee;
    }
    .user-status img.user-status-online {
        border-left-color: green;
    }

/*
//******* DETAIL LAYOUT ********
.request-summary-data-section-holder {
    display: flex;
    flex-direction: row;
}
.request-summary-data-holder {
    display: flex;
    flex-direction: row;
}
    .request-summary-leadGroup {
        max-width: 130px;
        min-width: 90px;
        flex: 1 0 20%;
    }
    .request-summary-detailGroup {
        flex: 4 10 80%;
        
        .request-summary-data-holder {
            align-items: baseline;
        }    
    }
    .request-summary-detailSubGroup {
        padding-top: 8px;
    }

    .request-summary-responseDuration {
        font-size: 200%;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }
    .request-summary-requestStartTime {
        font-size: 75%;
        color: #aaa;
        text-align: right;
        padding-right: 20px;
    }
    .request-summary-responseStatusCode, .request-summary-requestMethod {
        font-size: 75%;
        color: #aaa;
    }
    .request-summary-responseStatusCode {
        padding-left: 20px;
    }
    .request-summary-responseStatusText {
        font-family: monospace;
        font-size: 150%;
        padding-left: 5px;
    }
    .request-summary-requestMethod {
        padding-right: 5px;
        width: 37px;
    }
    .request-summary-responseContentType {
        flex: 1;
        text-align: right;
    }
    .request-summary-requestQueryString {
        color: #aaa;
        padding-right: 20px;
    }
    
    .request-summary-networkTime, .request-summary-serverTime, .request-summary-clientTime, 
    .request-summary-actionInvokedDuration, .request-summary-viewDuration {
        flex: 1;
    }
    .request-summary-queryGroup {
        flex: 2;
    }
    .request-summary-actionGroup {
        flex: 3;
        padding-left: 40px;
    }
    .request-summary-username {
        flex: 2 5;
        text-align: right;
    }

    //******* DETAIL DURATION ********  
    .request-summary-duration-bar {
        display: flex;
        height: 2px;
        margin-right: 20px;
        margin-top: -3px;
        opacity: 0.3;
        transition: opacity 200ms ease;
    }
        .request-summary-duration-bar-network {
            background-color: #258ECC;
            width: 5%;
        }
        .request-summary-duration-bar-server {
            background-color: #FF484E;
            width: 60%;
        }
        .request-summary-duration-bar-client {
            background-color: #FFFC61;
            width:35%;
        }
    .request-summary-duration-items-outer {
        position: relative;
    }
    .request-summary-duration-items {
        position: absolute;
        display: flex;
        flex-direction: row;
        font-size: 75%;
        width: 100%;
        overflow-y: hidden;
        opacity: 0;
    }
    .request-summary-data-holder:hover {
        .request-summary-duration-bar, .request-summary-duration-items {
            opacity: 1;
        }
        .request-summary-requestStartTime {
            opacity: 0;
        }
    }
*/

.request-summary-data-row-main, .request-summary-data-row-top, .request-summary-data-row-bottom {
    display: flex;
    align-items: baseline;
}
.request-summary-data-row-main, .request-summary-data-row-bottom {
    > div {
        flex: 1;
    }
    .request-summary-data-col-2 {
        flex: 2;
    }
    .request-summary-data-col-3 {
        flex: 3;
    }
}
.request-summary-data-row-top {
    margin-bottom: 5px;
}
.request-summary-data-row-items > span {
    padding-left: 15px;
}
.request-summary-data-row-items > span:first-child {
    padding-left: 25px;
}
.request-summary-data-value-primary {
    font-size: 120%;
}
.request-summary-data-value-soft, .request-summary-data-value-accent {
    color: #737373;
}
.request-summary-data-value-sub, .request-summary-data-value-accent {
    font-size: 80%;
}
.request-summary-data-title {
    font-size: 70%;
    color: #737373;
}



//****** BUTTONS *********
.button-holder {
    text-align: right;
    padding-top: 15px;
}
.button-holder .button {
    display: inline-block;
}
.button {
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.button.button--default {
    height: 24px;
    padding: 5px 10px 0;
    border-radius: 3px;
    transition: box-shadow 200ms;
}
.button.button--primary {
    color: #fff;
    fill: #fff;
    background: #1596D1;
}
.button.button--primary:focus, .button.button--primary:hover {
    background: #19B2F7;
    box-shadow: 0 0 0 3px #33C0FF;
}
.button.button--dull {
    color: #fff;
    fill: #fff;
    background: #41768E;
}
.button.button--dull:focus, .button.button--dull:hover {
    background: #A6CADB;
    box-shadow: 0 0 0 3px #B0D6E8;
}
.button.button--link {
    text-decoration: underline;
    transition: color 200ms;
}
.button.button--link:focus, .button.button--link:hover {
    color: #A6CADB;
}
.button.button--close {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 125%;
    width: 25px;
    height: 25px;
    text-align: center;
    float: right;
}

//******* Forms *******
.field-section {
    margin-bottom: 15px;
}

.field-label {
    font-variant: small-caps;
}


//******* TABS *******
.nav-bar {
    border-bottom: 1px solid #E1E2E4;
    
    &.nav-bar-center {
        text-align: center;
    }
}
.nav {
  margin-bottom: 0;
  padding-left: 0; 
  list-style: none;

    > li {
        position: relative;
        display: block;
        
        > a {
            position: relative;
            display: block;
        }
    }
}
.nav.nav-tabs {
    > li {
        display: inline-block;
        padding: 0 10px;
        
        > a {
            position: relative;
            display: block;
            text-decoration: none;
            color: #aaa;
            transition: box-shadow 200ms, color 200ms;
            padding-bottom: 8px;
            
            &:hover,
            &:focus,
            &.selected {
                box-shadow: inset 0 -3px #FF484E;
                color: #111;
            }
        }
    }
}

//******** LISTS *********
.list-item {
    margin-top: 15px;
}