.temp1, .temp2, .temp3 { height:500px; }
.temp1 { background-color:purple }
.temp2 { background-color:blue }
.temp3 { background-color:green }

.user-status {
    border-left: 10px solid grey;
}
.user-status.user-status-online {
    border-left-color: green;
}

.user-shell-selected, .request-summary-shell-selected {
    background-color: #f0f7fd;
}

.request-holder-outer {
    position: relative;
}
.request-detail-holder-outer {
    background-color: #f0f7fd;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc( 83.33333% - 105px );
}


.request-summary-item-holder-enter, .request-user-item-holder-enter {
    background-color: #F8F5EC;
    transition: background-color 0.2s ease-in;
}

.request-summary-item-holder-enter.request-summary-item-holder-enter-active,
.request-user-item-holder-enter.request-user-item-holder-enter-active {
    background-color: transparent;
}


.request-summary-item-holder-leave, .request-user-item-holder-leave {
    opacity: 1;
    transition: opacity 0.05s ease-in;
}

.request-summary-item-holder-leave.request-summary-item-holder-leave-active,
.request-user-item-holder-leave.request-user-item-holder-leave-active {
    opacity: 0.01;
}

.tab-pane > table {
    border-spacing: 10px;
    border-collapse: separate;
}

.row-devider > td, .row-devider > th {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.tab-execution-item {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    
    > div {
        flex: 1 0 0;
    }
    
    .tab-execution-important {
        font-size: 120%;
    }
    .tab-execution-title {
        font-weight: bold;
        min-width: 100px;
        flex-grow: 1;
    }
    .tab-execution-route-name {
        flex-grow: 2;
        min-width: 150px;
    }
    .tab-execution-route-path, .tab-execution-route-pattern {
        flex-grow: 3;
    }
    .tab-execution-action-description {
        flex-grow: 7;
    }
    .tab-execution-timing {
        font-weight: bold;
        min-width: 100px;
        flex-grow: 1;
    }
    .tab-execution-view-path {
        flex-grow: 7;
    }
    .tab-execution-view-found {
        color: green;
    }
    .tab-execution-view-notfound {
        color: darkred;
    }
}


.paramater-list {
    padding-left: 0;
    display: inline;
}

.paramater-list > li {
    display: inline;
}

.paramater-list > li:before {
    content:',\0000a0'; /* Non-breaking space */
}
.paramater-list > li:first-child:before {
    content: normal;
}


/*
.tab-execution-title {
    font-weight: bold;
    width: 20%;
    min-width: 150px;
}
.tab-execution-route-name {
    width: 15%;
}
.tab-execution-route-path {
    width: 30%;
}
.tab-execution-route-name, .tab-execution-route-path {
    font-size: 120%;
}
*/



body, html {
    margin: 0;
    height: 100%;
}

.glimpse-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue",Arial,sans-serif;
}

.glimpse-header {
    background-color: #323d42;
    color: #fff;
    height: 40px;
    font-weight: bold;
}

.application-holder {
    background-color: #eee;
    flex: 1 1 auto;
    padding-top: 10px;
    min-width: 920px;
    min-width: 900px;
    display: flex;
    justify-content: center;
}

.application-item-holder {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.request-user-holder, .request-summary-holder, .request-filter-holder {
    background-color: #fff;
    margin: 0 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
}

.request-user-holder {
    flex: 1000 1 150px;
    min-width: 100px;
    max-width: 200px;
}

.request-summary-holder {
    flex: 5000 1 600px;
    min-width: 400px;
    max-width: 900px;
}
    
.request-filter-holder {
    flex: 2000 1 275px;
    min-width: 250px;
    max-width: 300px;
}

.request-holder-content {
    flex: 1 1 auto;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}