@import 'normalize-view.scss';

//****** GENERAL *******
@font-face {
    font-family: 'Selawik';
    src: url('../../../assets/selawk.woff2') format('woff2'),
         url('../../../assets/selawk.woff') format('woff');
}
@font-face {
    font-family: 'Selawik Light';
    src: url('../../../assets/selawkl.woff2') format('woff2'),
         url('../../../assets/selawkl.woff') format('woff');
}
@font-face {
    font-family: 'Selawik Semibold';
    src: url('../../../assets/selawksb.woff2') format('woff2'),
         url('../../../assets/selawksb.woff') format('woff');
}
@font-face {
    font-family: 'Selawik Semilight';
    src: url('../../../assets/selawksl.woff2') format('woff2'),
         url('../../../assets/selawksl.woff') format('woff');
}

body, html {
    margin: 0;
    height: 100%;
    color: #111;
    font-family: 'Segoe UI', 'Selawik', Tahoma, Geneva, Verdana, sans-serif;
}
input {
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-family: 'Segoe UI', 'Selawik', Tahoma, Geneva, Verdana, sans-serif;
}


//****** FLEX *******
.flex {
    display: flex;
    
    .col-1 { flex: 1; }
    .col-2 { flex: 2; }
    .col-3 { flex: 3; }
    .col-4 { flex: 4; }
    .col-5 { flex: 5; }
    .col-6 { flex: 6; }
    .col-7 { flex: 7; }
    .col-8 { flex: 8; }
    .col-9 { flex: 9; }
}
.flex-inherit {
    > div { flex: 1; }
}
.flex-base {
    align-items: baseline;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}


//****** TABLE *******
$table-border-color: #ccc;
$table-border-width: 1px;
$table-background-alt-color: #f9f9f9;

.table {
    width: 100%;
    border-collapse: collapsed;
    border-spacing: 0;
    max-width: 100%;
    text-align: left;
    
    thead th {
        padding:5px 0;
    }
    tbody td {
        padding:5px 10px;
    }
    .table-col-title {
        padding:0px 10px;
    }
    .table-body-padding {
        td, th {
            height:12px;
        }
    }
    .selected {
        background-color: #cce4f5 !important;
    }
}

.table-bordered {
    .table-col-featured {
        border-right: $table-border-width solid $table-border-color;
    }
    .table-col-title {
        border-right: $table-border-width solid $table-border-color;
        display: block
    }
    thead {
        .table-col-title-group th {
            border-bottom: $table-border-width solid $table-border-color;
        }        
    }
    tfoot {
        .table-col-title-group th { 
            border-bottom: $table-border-width solid $table-border-color; 
        }
    }
}

.table-striped {
    tbody tr:nth-child(even) {
        background-color: $table-background-alt-color;
    }
}

.table-details {
    thead {
        background-color: #323d42;
        color: white;
    }
    
    .table-col-title {
        padding-top:5px;
        padding-bottom:5px;
    }
    
    td, th {
        border-left: 1px solid #ccc;
    }
    
    tr th:first-child,
    tr td:first-child {
        border-left: 0px;
    }
}

.table-selectable {
    > tbody > tr {
        cursor: pointer;        
    }

    > tbody > tr:hover {
        background: #e2e2e2;
    }
}

//****** LISTS *******
.list-unstyled {
    padding-left: 0;
    list-style: none;
}


//****** TRUNCATE *******
.truncate-outer {
    width: 50px;
}
.truncate { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
td.truncate { 
    max-width: 1px;
}


//****** TAB - CONTENT *******
.tab-content {
    padding: 0 20px 20px 20px;
}
.tab-detail-holder {
    display: flex;
    flex-direction: column; 
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.tab-detail-body {
    min-height: 100px;
    flex: 3;
    overflow-y: auto;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.tab-detail-footer {
    margin-top: 10px;
    max-height: 250px;
    flex: 1;
    overflow-y: auto;
}
